@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat&family=Raleway&display=swap');

/* 
font-family: 'Libre Baskerville', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; 
*/
.contact {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 150px;
}